Django
django-environ
djangorestframework
GDAL==3.10.3
psycopg2-binary
django-bootstrap5
gunicorn
django-simple-history
git+https://github.com/imsweb/django-history-triggers.git@refs/pull/16/head
whitenoise
django-extensions
cbor2
bidict
uuid6
pyzmq
ipython
django-debug-toolbar
